.wp-block-button.is-style-outline {
  .wp-block-button__link:hover,
  .wp-block-button__link {
    color: var(--wp--custom--elements--button--color--outline-background, var(--wp--custom--color--primary, currentColor));
    background: transparent !important;
    border-color: currentColor;
    border-width: 2px;
  }
}
