$mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='254' height='10'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='currentColor' stroke-linecap='round' stroke-width='2' d='M1 5c1.47 1.958 3.062 4 6 4 6 0 6-8 12-8s6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8 6-8 12-8 6 8 12 8c2.976 0 4.512-2.016 6-4'/%3E%3C/svg%3E");

.wp-block-separator.is-style-waves {
  background-color: unset !important;
  border: 0;
  height: 12px !important;
  width: 100% !important;

  &::after {
    background-color: currentColor;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    -webkit-mask-image: $mask;
    mask-image: $mask;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
}
