html{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #747474;
  font-weight: 400;
  line-height: 24px;
}
body,html{
    overflow-x: hidden;
}
a{
  color: #23C8B9;
  text-decoration: none !important;
}

a:hover, a:focus{
  color: #23C8B9;
}
a:focus {
    outline: thin dotted !important;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px !important;
}
a:visited {
  color: #23C8B9;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Work Sans";
  color: #2A2A2A;
  font-weight: 700 !important;
      line-height: 140%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;

}
h1{
    font-size: 36px;
    line-height: 125%;
}
h2{
    font-size: 32px;
    line-height: 125%;
}
h3{
    font-size: 28px;
    line-height: 125%;
}
h4{
    font-size: 24px;
    line-height: 125%;
}
h5{
    font-size: 20px;
    line-height: 125%;
}
h6{
    font-size: 16px;
    line-height: 125%;
}
a{
  color: #23C8B9;
  text-decoration: none !important;
}

a:hover, a:focus{
  color: #23C8B9;
}
a:visited {
  color: #23C8B9;
}

ul, ol {
    margin-left: 0;
    padding-left: 17px;
}
#secondary.widget-area .widget ul {
    list-style: none;
    padding-left: 0;
}
.site-main article p a, 
.site-main article .entry-content a, 
.comment-content p a, 
.site-main article li a, 
.comment-content li a, 
.textwidget p a {
    text-decoration: underline !important;
}

button, input[type="button"], input[type="reset"], input[type="submit"]{
    font-weight: normal;
    text-transform: capitalize;
    width: auto;
    color: #fff;
    height: auto;
    background: #23C8B9;
    color: #fff;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 3px !important; 
    border: none;   
}
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover{
    background: #222;
}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus{
    background: #222;
}
.comment-respond .comment-form input[type="submit"]:hover{
      background: #222;  
}
.blog-element article.blog-post {
    width: calc(33.33% - 30px);
    margin: 0 15px;
    margin-bottom: 30px;
}
.blog-element {
    display: flex;
    flex-wrap: wrap;
}
.blog-element h3.entry-title {
    font-size: 21px;
    line-height: 125%;
}
.blog-element h3.entry-title a{
  color: #232837;
}
.blog-element h3.entry-title {
    font-size: 21px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 0;
}
.blog-element .date {
    margin-top: 0;
    font-size: 13px;
    background: #23C8B9;
    color: #fff;
    display: inline-block;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4px 6px;
}
.blog-element .date span {
    color: #fff;
}
.blog-element .blog-img {
    position: relative;
}
.blog-element p.post-excerpt {
    margin-top: 8px;
}
.blog-element .post-content {
    margin-top: 12px;
}





/* #secondary.widget-area .widget {
    background: #fff;
    padding: 30px;
}*/
.col-md-4 .widget h2 {
    font-size: 20px;
}
.page-section,.full-width {
    padding: 70px 0;
}
/*#content main.site-main {
    padding: 30px;
    background: #fff;
}*/
ol.wp-block-latest-comments {
    padding-left: 0;
}
header.entry-header h1.entry-title {
    font-size: 29px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 125%;
}
header.entry-header {
    margin-bottom: 15px;
}

span.edit-link a {
    box-shadow: none;
    padding: 3px 21px;
    margin-top: 20px;
    border-radius: 3px;
    border: 1px solid #23C8B9;
    color: #747474;
}
span.edit-link {
    margin-top: 15px;
    display: block;
}

span.cat-links, span.tags-links {
display: block;
margin-bottom: 5px; }

article .post-bg .entry-footer {
margin-top: 20px; }

span.comments-link {
border: 1px solid #ddd;
font-size: 13px;
padding: 3px 10px;
border-radius: 5px; }
span.comments-link a {
  color: #000; }

select {
width: 100%; }

.comment-respond .comment-form textarea {
  height: 200px;
  padding: 10px;
  background: none;
  border: none;
  border: 1px solid #eee;
  outline: 0 !important;
  transition: all 0.5s ease-out 0s;
  width: 100%;
  border-radius: 3px;
}
.comment-respond .comment-form input {
  background: none;
  border: none;
  outline: 0;
  font-size: 16px;
  padding: 0;
  border: 1px solid #eee;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  transition: all 0.5s ease-out 0s;
}
.comment-respond .comment-form input[type="submit"] {
  font-weight: normal;
  text-transform: capitalize;
  width: auto;
  color: #fff;
  height: auto;
  background-color: #23C8B9;
    color: #fff;
    cursor: pointer;
    padding: 15px 28px;
    border-radius: 3px !important;
}

.comment-reply-title {
    font-size: 21px;
}


header.page-header {
    margin-top: 0;
}
header.page-header h1.page-title {
    font-size: 29px;
    line-height: 125%;
}

.site-logo{
    padding-right: 20px;
    width: 240px;
}

nav#site-navigation {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
}
header#masthead .col-md-12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.25rem;
    width: 100%;
    margin: 0 auto;
}

nav#site-navigation .menu .navbar-nav>li>.sub-menu li a:focus,.navbar-nav>li>.sub-menu li a:focus-within {
  background: #000 !important;
  border: none !important;
  color: #fff !important;
}


nav#site-navigation .menu li.menu-item-has-children .sub-menu {
    position: absolute;
    opacity: 0;
    left: -9999px;
    z-index: 99999;
    display: block !important;
    right: auto;
    box-shadow: 0px 10px 20px -5px rgba(10, 42, 105, 0.06) !important;
/*    border: 1px solid #ececec;*/
    background: #f5f5f5;
}

nav#site-navigation .menu li.menu-item-has-children:hover .sub-menu,nav#site-navigation .menu li.menu-item-has-children:focus .sub-menu,nav#site-navigation .menu li.menu-item-has-children:focus-within .sub-menu{
  display: block;
  left: 0;
  margin-top: 0;
  opacity: 1;
}

nav#site-navigation .menu li.menu-item-has-children .sub-menu li.menu-item-has-children>.sub-menu{
  position: absolute;
  opacity: 0;
  left: -9999px;
  z-index: 99999;
  display: block !important;
}


nav#site-navigation .menu li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu,
nav#site-navigation .menu li.menu-item-has-children .sub-menu li.menu-item-has-children:focus .sub-menu,
nav#site-navigation .menu li.menu-item-has-children .sub-menu li.menu-item-has-children:focus-within .sub-menu{
  display: block;
  left: 220px;
  margin-top: 0;
  opacity: 1;
}
nav#site-navigation li > .sub-menu li a {
    padding: 8px 20px !important;
}
nav#site-navigation li > .sub-menu li a:hover,nav#site-navigation li > .sub-menu li a:focus {
    background:#23C8B9;
    color: #fff;
}
.header-navigation li a {
    padding: 14px 15px;
    font-size: 15px;
    color: #232837;
}
p.site-title a {
    font-family: "Work Sans";
    color: #232837;
    font-weight: 700;
    font-size: 21px;
}
.header-navigation ul ul {
    background: #fff;
    width: 220px;
}
.header-navigation li {
    display: inline-block;
}

nav#site-navigation .menu li.menu-item-has-children .sub-menu li {
    border-bottom: none;
    width: 100%;
}
nav#site-navigation .menu li.menu-item-has-children .sub-menu li:last-child {
    border-bottom: 1px solid #eeeeee91;
}
.header-navigation ul ul a {
    width: 100%;
}
nav#site-navigation li.menu-item-has-children>a:after {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    top: 2px;
}
header#masthead {
    padding: 10px 0;
}

#hamburger-menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: #23C8B9;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#hamburger-menu span:nth-child(1) {
    top: 0;
}
#hamburger-menu span:nth-child(2) {
    top: 7px;
}
#hamburger-menu span:nth-child(3) {
    top: 14px;
}
#hamburger-menu.open span:nth-child(1) {
    transform: translateY(9px) rotate(135deg);
}
#hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#hamburger-menu.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-135deg);
}
#hamburger-menu {
    position: relative;
    width: 22px;
    height: 20px;
}
button.close-menu {
    display: none;
}




.archive .site-main article header.entry-header h2,.blog .site-main article header.entry-header h2 {
    font-size: 21px;
    margin-bottom: 7px;
}
.archive .site-main article header.entry-header h2 a,.blog .site-main article header.entry-header h2 a {
    color: #232837;
}
.archive .page-section .site-main article ,.blog .page-section .site-main article {
    border-bottom: 1px solid #eee;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.archive .page-section .site-main article footer.entry-footer, .blog .page-section .site-main article footer.entry-footer{
    margin-top: 20px;
}

.archive .page-section .site-main article:last-child, .blog .page-section .site-main article:last-child{
    margin-bottom: 0;
}


footer#colophon {
    background: #123841;
}
footer#colophon h3.widget-heading {
    color: #fff;
    font-size: 21px;
    line-height: 125%;
    margin-bottom: 20px;
}
.prefooter {
    padding: 60px 0;
}


div#calendar_wrap table {
background-color: transparent;
width: 100%; }

#wp-calendar caption {
background-color: #33475b;
color: #ffffff;
padding: 10px; }

#wp-calendar thead tr th {
text-align: center; }

table th {
border: 1px solid #dddddd;
padding: 8px;
line-height: 20px;
text-align: center;
vertical-align: top; }

table td {
border: 1px solid #dddddd;
padding: 8px;
line-height: 20px;
text-align: center;
vertical-align: top; }

table td {
border: 1px solid #dddddd;
padding: 8px;
line-height: 20px;
text-align: center;
vertical-align: top; }

#wp-calendar tbody tr td {
text-align: center; }

#wp-calendar tr th {
border: 1px solid rgba(0, 0, 0, 0.2);
border-right: 0;
border-bottom: 0; }

#wp-calendar tr th:last-child {
border-right: 1px solid rgba(0, 0, 0, 0.2); }

#wp-calendar tr td {
border: 1px solid rgba(0, 0, 0, 0.2);
border-right: 0;
border-bottom: 0; }

#wp-calendar tr td a {
font-weight: bold; }

#wp-calendar tr td:last-child {
border-right: 1px solid rgba(0, 0, 0, 0.2); }

#wp-calendar tfoot tr td {
border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

#secondary #wp-calendar tr td {
border: 1px solid #eee; }

#secondary #wp-calendar tr th {
border: 1px solid #eee; }


.prefooter a, .prefooter p, .prefooter span {
    color: #fff;
}
.prefooter ul {
color: #fff;
}


.site-info, .site-info a {
    color: #fff;
}
.site-info {
    padding: 16px 0;
    text-align: center;
    border-top: 1px solid rgb(215 213 213 / 19%);
}

div#hamburger-menu {
    display: none;
}



input.wp-block-search__input {
    padding: 14px 10px;
    border-radius: 3px;
}
.single article footer.entry-footer {
    margin: 30px 0;
}


.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
svg.svg-icon path {
    fill: #23C8B9;
}


input#wp-comment-cookies-consent {
    width: auto;
    height: auto;
}
.widget_recent_jobs ul.job_listings li.job_listing {
    padding-left: 15px;
    padding-right: 15px;
}
.job_filters .select2-container {
    width: 100% !important;
}

.site-logo h1.site-title {
    font-size: 21px;
}

h2.widgettitle,h2.widget-title {
    font-size: 21px;
}
input[type="search"] {
    padding: 10px 10px;
}
.error404 form.search-form {
    margin-bottom: 20px;
}


.directorist-search-contents {
    padding: 0;
    margin-top: 25px;
}
.directorist-search-contents .directorist-container-fluid {
    padding: 0;
}
.directorist-content-active .directorist-listing-category-top h3 {
    color: #fff;
}
.directorist-content-active .directorist-listing-category-top ul li a p {
    color: #fff;
}
.banner-section .directorist-search-form-wrap.directorist-with-search-border .directorist-search-form-top {
    border: none;
    background: none;
    gap: 20px;
}
.directorist-search-contents .directorist-search-form-top .directorist-search-field .directorist-form-element {
    background: #fff;
    height: 50px;
    font-size: 16px;
    border-radius: 3px;
}
.banner-section .directorist-search-contents .directorist-search-form-top .directorist-search-field:not(:last-child) {
    border: none;
}
.directorist-search-form-box .directorist-search-location .select2-container.select2-container--default .select2-selection--single, .directorist-search-form-box .directorist-search-category .select2-container.select2-container--default .select2-selection--single {
    height: 50px;
    padding: 15px 20px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 16px;
    color: #747474;
}
.select2.select2-container .select2-selection--single .select2-selection__rendered {
    height: auto;
    padding: 0;
    line-height: normal;
}
.select2.select2-container .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    line-height: normal;
}
.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li:not(:last-child) {
    margin: 0 0 5px;
}
.directorist-listing-single__info--list ul {
    display: flex;
    flex-wrap: wrap;
}
.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li .directorist-listing-card-posted-on {
    display: none;
}
.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li:first-child {
    margin-right: 10px;
}
#directorist.atbd_wrapper .atbd_all_categories .atbd_category_single.atbd_category_no_image .cat-name {
    font-size: 21px;
    font-weight: 700;
}
#directorist.atbd_wrapper .atbd_all_categories .atbd_category_single.atbd_category_no_image .cat-count span:first-child {
    padding: 0;
}
#directorist.atbd_wrapper .atbd_all_categories .atbd_category_single:not(.atbd_category_no_image) figure figcaption {
    background: rgb(0 0 0 / 40%);
}
.directorist-listing-single .directorist-listing-single__info .directorist-listing-title {
    font-weight: 700;
}
.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li a{
    color: #747474;
}
.directorist-listing-single .directorist-listing-single__meta .directorist-listing-single__meta--left .directorist-listing-category a{
     color: #747474;   
}
.directorist-listing-details .directorist-listing-details__text p{
        color: #747474;    
}
.directorist-details-info-wrap .directorist-single-info .directorist-single-info__value{
      color: #747474;     
}

.directorist-sidebar .atbd_widget .default-ad-search .check-btn label span i {
    color:  #747474;
}
.directorist-author-profile-wrap .directorist-author-avatar .directorist-author-avatar__info p {
    color:  #747474;
}
.directorist-author-info-widget .directorist-author-info-list__item {
    color:  #747474
}
.directorist-author-info-widget .directorist-author-info-list__item .directorist-info a {
    color:  #747474;
}
.directorist-advanced-filter__basic--element .directorist-search-field .directorist-btn-ml {
    color:  #747474;
}
.directorist-advanced-filter__advanced--element .directorist-search-field .directorist-btn-ml {
    color:  #747474;
}
.check-btn label span i {
    color:  #747474;
}
.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li a {
    color:  #747474;
}
.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--excerpt p {
    color:  #747474;
}
.directorist-listing-single .directorist-listing-single__meta .directorist-listing-single__meta--left .directorist-listing-category a {
    color:  #747474;
}
.directorist-listing-single.directorist-listing-no-thumb .directorist-listing-single__info--list ul li a {
    color:  #747474;
}
.directorist-listing-single.directorist-listing-no-thumb .directorist-listing-single__info--excerpt p {
    color:  #747474;
}
.directorist-listing-details .directorist-listing-details-tagline {
    color:  #747474
}
.directorist-listing-details .directorist-listing-details__text p {
    color:  #747474;
}
.directorist-details-info-wrap .directorist-single-info .directorist-single-info__label {
    color:  #747474;
}
.directorist-details-info-wrap .directorist-single-info .directorist-single-info__value {
    color:  #747474
}

.directorist-details-info-wrap .directorist-single-info .directorist-single-info__value a {
    color:  #747474
}
.directorist-user-dashboard-tabcontent .directorist-dashboard-pagination .page-numbers {
    color:  #747474;
}
.directorist-search-contents .directorist-search-form-top .directorist-search-field .directorist-btn-ml {
    color:  #747474;
}
.directorist-search-contents .directorist-btn-ml:after {
    background-color:  #747474;
}
.directorist-search-field .directorist-location-js+.address_result ul li a {
    color:  #747474;
}
.directorist-zipcode-search .directorist-search-country ul li a {
    color:  #747474;
}

.directorist-listing-details .directorist-listing-details__listing-title,.directorist-single-wrapper .directorist-card__header .directorist-card__header--title,
.directorist-review-submit__header h3,
.directorist-review-content .directorist-review-content__header h3{
    font-weight: 700;
}



.directorist-container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.section-spacing {
    padding: 70px 0;
}
.section-headings {
    text-align: center;
    margin-bottom: 50px;
}
.cta-section {
    padding: 90px 0;
    text-align: center;
}
.banner-section {
    padding: 100px 0;
}
.directorist-search-contents .directorist-listing-category-top {
    display: none;
}



.banner-section span {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}
.banner-section h1 {
    color: #FFFFFF;
    font-size: 55px;
}
.section-headings h2 {
    font-size: 34px;
    font-weight: 700;
}
.section-headings span {
    font-size: 16px;
}


.cta-section span {
    display: block;
}


.cta-section,.banner-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


a.btn-default {
    font-weight: normal;
    text-transform: capitalize;
    background-color: #23C8B9;
    color: #fff;
    cursor: pointer;
    padding: 15px 28px;
    border-radius: 3px !important;
    display: inline-block;
}
a.btn-default:hover {
    background: #222!important;
    color: #fff;
}
.cta-section a.btn-default {
    margin-top: 30px;
}


.pricing .price_action .price_action--btn, #directorist.atbd_wrapper .btn-primary, .default-ad-search .submit_btn .btn-default, .atbd_content_active #directorist.atbd_wrapper.dashboard_area .user_pro_img_area .user_img .choose_btn #upload_pro_pic, #directorist.atbd_wrapper .at-modal .at-modal-close, .atbdp_login_form_shortcode #loginform p input[type=submit], .atbd_manage_fees_wrapper .table tr .action p .btn-block, #directorist.atbd_wrapper #atbdp-checkout-form #atbdp_checkout_submit_btn, #directorist.atbd_wrapper .ezmu__btn, .default-ad-search .submit_btn .btn-primary, .directorist-btn.directorist-btn-primary, .directorist-content-active .widget.atbd_widget .directorist .btn, .directorist-btn.directorist-btn-dark, .atbd-add-payment-method form .atbd-save-card, #bhCopyTime, #bhAddNew, .bdb-select-hours .bdb-remove, .directorist-form-image-upload-field .ezmu__btn.ezmu__input-label, .directorist-content-active .widget.atbd_widget .atbd_author_info_widget .btn {
    background: #23C8B9!important;
}

header#masthead {
    box-shadow: 0 0 5px rgba(62,64,69,.1);
}


.section-overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 34%);
    content: "";
}
.section-overlay {
    position: relative;
}


.cta-section h2 {
    color: #fff;
}
.cta-section span {
    color: #fff;
}

h2.comments-title {
    font-size: 21px;
}


.directorist-single {
    padding: 60px 0;
}
.directorist-single.directorist-container {
    background: #f6f7f9;
}
.single .directorist-card {
    border: none;
}
.single .widget.atbd_widget, .single .widget.atbd_widget[id^=bd], .single .widget.atbd_widget[id^=dcl]{
      border: none;  
}
.slickSliderImages {
    display: none;
}
.slickSliderImages.slick-initialized {
    display: block;
}
.widget.atbd_widget ul,.widget.atbd_widget ol{
    padding: 20px 30px !important; 
}
.widget.atbd_widget .atbdp ul {
    padding: 0 !important;
}
.widget.atbd_widget .atbdp ol {
    padding: 0 !important;
}


.atbd_widget.widget h2.wp-block-heading {
    font-size: 20px;
    padding: 15px 30px;
    border-bottom: 1px solid #eff1f6;
    margin-bottom: 0;
}
.directorist-card__header.directorist-flex.directorist-justify-content-between {
    display: none;
}
.widget.atbd_widget[id^=bd] .atbd_author_info_widget .atbd_widget_contact_info ul li .directorist-icon-mask, .widget.atbd_widget[id^=dcl] .atbd_author_info_widget .atbd_widget_contact_info ul li .directorist-icon-mask, .widget.atbd_widget .atbd_author_info_widget .atbd_widget_contact_info ul li .directorist-icon-mask {
    top: 3px;
}
.widget.atbd_widget .atbd_author_info_widget .atbd_widget_contact_info ul li .atbd_info {
    word-break: break-all;
}
#directorist.atbd_wrapper .btn-primary, .default-ad-search .submit_btn .btn-default, .atbdp_login_form_shortcode #loginform p input[type=submit], .default-ad-search .submit_btn .btn-primary, .directorist-btn.directorist-btn-primary, .directorist-content-active .widget.atbd_widget .directorist .btn, .atbd-add-payment-method form .atbd-save-card, .directorist-content-active .widget.atbd_widget .atbd_author_info_widget .btn {
    border: none;
}
form#atbdp-contact-form-widget {
    text-align: left;
}
.single-at_biz_dir {
    background: #f6f7f9;
}
.single-at_biz_dir header#masthead {
    background: #fff;
}
.directorist-signle-listing-top.directorist-flex.directorist-align-center.directorist-justify-content-between {
    display: none;
}
.plasmaSlider {
    width: 100% !important;
}

.header-add-listing a {
    font-size: 16px;
    font-weight: 400;
    background-color: #23C8B9;
    border-radius: 3px 3px 3px 3px;
    padding: 9px 14px !important;
    color: #fff !important;
}
.header-add-listing a:hover{
    background: #222!important;
}

p.site-title {
    margin-bottom: 0;
}
.site-info a {
    color: #23C8B9;
}
.site-info p {
    margin: 0;
}

.social-icons span {
    display: inline-block;
    font-size: 18px;
    margin: 0 4px;
}
.social-icons span:last-child {
    margin-right: 0;
}
p.site-description {
    margin: 0;
}
.header-navigation {
    display: flex;
    align-items: center;
}

.social-icons {
    margin-left: 10px;
}