<!-- wp:template-part {"slug":"header","theme":"travel-cart","tagName":"header"} /-->

<!-- wp:pattern {"slug":"travel-cart/inner-banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|70","right":"var:preset|spacing|40","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"80%"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","style":{"color":{"background":"#9449f3"},"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"textColor":"foreground"} /-->

<!-- wp:query-title {"type":"search","level":2,"fontSize":"regular"} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<div class="wp-block-column" style="padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);flex-basis:66.66%"><!-- wp:group {"className":"post-page-area","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group post-page-area" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:query {"queryId":26,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template {"fontSize":"medium"} -->
<!-- wp:post-title {"level":3,"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"regular"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}},"color":{"text":"#9449f3"},"elements":{"link":{"color":{"text":"#9449f3"}}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-text-color has-link-color" style="color:#9449f3;margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:post-date {"style":{"typography":{"fontSize":"16px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /-->

<!-- wp:post-excerpt {"moreText":"","excerptLength":25,"style":{"color":{"text":"#747474"},"elements":{"link":{"color":{"text":"#747474"}}},"typography":{"fontSize":"16px"}}} /-->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"style":{"typography":{"fontSize":"15px"},"border":{"radius":"0px"},"color":{"background":"#9449f3"}}} -->
<div class="wp-block-button has-custom-font-size" style="font-size:15px"><a class="wp-block-button__link has-background wp-element-button" style="border-radius:0px;background-color:#9449f3">Read More</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%">
	<!-- wp:pattern {"slug":"travel-cart/sidebar"} /-->
</div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"travel-cart","tagName":"footer"} /-->