html{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #565656;
    font-weight: 300;
    letter-spacing: 0.3px;
}
a{
    color: #ff6670;
    text-decoration: none !important;
}

a:hover, a:focus{
    color: #ff6670;
    outline: 0 !important;
}
a:visited {
    color: #ff6670;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: #000;
    font-family: "Roboto";
    font-weight: 300;
}
.content-area article p a,.content-area article .entry-content a,.comment-content p a, .content-area article li a, .comment-content li a,.textwidget p a {
    text-decoration: underline !important;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.site-branding {
    float: left;
}
nav#site-navigation {
    float: right;
    width: auto;
}
.hero-section .image{
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.hero-section {
  display: -webkit-box;
  display: flex;
  align-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  height: 500px;
  justify-content: space-around;
  position: relative;
  width: 100%;
}
.hero-section {
  width: 100%;
  height: 500px;
  -webkit-box-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: flex;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.hero-section .image {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
}
.hero-section .stuff {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    /* max-width: 48%; */
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    z-index: 990;
    margin: 0 auto;
    position: relative;
    top: 0% !important;
}
.hero-section a.btn.btn-default {
    background: no-repeat;
    text-transform: uppercase;
    letter-spacing: 8px;
    border: none;
    color: #fff;
}
.hero-section h1 {
    font-size: 45px;
    color: #fff;
    line-height: 68px;
    margin-bottom: 35px;
    margin-top: 0;
}

header#masthead {
    position: relative;
    top: auto;
    z-index: 9999;
}


nav#site-navigation ul li a {
    color: #fff;
}

h2.site-title {
    font-size: 23px;
    margin-bottom: 5px;
    margin-top: 0;
}
p.site-description {
    font-size: 14px;
}
header#masthead {
    padding: 11px 0;
    padding-bottom:11px;
}
p.site-description {
    margin: 0;
}
ul#menu-main li a {
    padding-top: 10px;
    color: #000;
    padding-right: 5px;
}
ul#menu-main li.menu-item-has-children .dropdown-menu{

    right: auto !important;
}
.site-branding {
    padding-right: 20px;
}
.section {
    padding: 70px 0;
}

.section-title h2 {
    line-height: 44px;
    font-size: 37px;
    margin-bottom: 20px;
    color: #000;
}
.about-section-img {
    margin-top: 65px;
}
.about-second-wrap img{
    margin-top: 30px;
}
.section-title h2 a{
  color: #000;
}
section#primary.about-sec .col-md-7 {
    padding-right: 70px;
}


.explore-section {
    padding: 70px 0;
}
.explore-section .section-title {
    margin-bottom: 91px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    margin-left: 134px;
}
.explore-section main {
    height: auto;
}

ul.slider {
    padding: 0;
    margin: 0;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}
.grid > [class*="column-"] {
  display: block;
}

.first {
  order: -1;
}

.last {
  order: 12;
}

.align-top {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: end;
}

.column-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.column-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.column-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.column-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 48rem) {
  .column-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 62rem) {
  .column-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@media (min-width: 75rem) {
  .column-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .column-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .column-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .column-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .column-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .column-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .column-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .column-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .column-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .column-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .column-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .column-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
  }
  .grid > [class*="column-"] {
    margin: 0;
    max-width: 100%;
  }

  .column-xs-1 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }

  .column-xs-2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
  }

  .column-xs-3 {
    grid-column-start: span 3;
    grid-column-end: span 3;
  }

  .column-xs-4 {
    grid-column-start: span 4;
    grid-column-end: span 4;
  }

  .column-xs-5 {
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  .column-xs-6 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }

  .column-xs-7 {
    grid-column-start: span 7;
    grid-column-end: span 7;
  }

  .column-xs-8 {
    grid-column-start: span 8;
    grid-column-end: span 8;
  }

  .column-xs-9 {
    grid-column-start: span 9;
    grid-column-end: span 9;
  }

  .column-xs-10 {
    grid-column-start: span 10;
    grid-column-end: span 10;
  }

  .column-xs-11 {
    grid-column-start: span 11;
    grid-column-end: span 11;
  }

  .column-xs-12 {
    grid-column-start: span 12;
    grid-column-end: span 12;
  }

  @media (min-width: 48rem) {
    .column-sm-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-sm-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-sm-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-sm-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-sm-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-sm-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-sm-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-sm-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-sm-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-sm-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-sm-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-sm-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 62rem) {
    .column-md-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-md-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-md-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-md-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-md-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-md-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-md-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-md-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-md-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-md-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-md-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-md-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
  @media (min-width: 75rem) {
    .column-lg-1 {
      grid-column-start: span 1;
      grid-column-end: span 1;
    }

    .column-lg-2 {
      grid-column-start: span 2;
      grid-column-end: span 2;
    }

    .column-lg-3 {
      grid-column-start: span 3;
      grid-column-end: span 3;
    }

    .column-lg-4 {
      grid-column-start: span 4;
      grid-column-end: span 4;
    }

    .column-lg-5 {
      grid-column-start: span 5;
      grid-column-end: span 5;
    }

    .column-lg-6 {
      grid-column-start: span 6;
      grid-column-end: span 6;
    }

    .column-lg-7 {
      grid-column-start: span 7;
      grid-column-end: span 7;
    }

    .column-lg-8 {
      grid-column-start: span 8;
      grid-column-end: span 8;
    }

    .column-lg-9 {
      grid-column-start: span 9;
      grid-column-end: span 9;
    }

    .column-lg-10 {
      grid-column-start: span 10;
      grid-column-end: span 10;
    }

    .column-lg-11 {
      grid-column-start: span 11;
      grid-column-end: span 11;
    }

    .column-lg-12 {
      grid-column-start: span 12;
      grid-column-end: span 12;
    }
  }
}






#highlight {
  color: #e83f43;
}

.image-holder img {
  width: 100%;
  height: 43vh;
  object-fit: cover;
}

.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
    position: relative;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 0.8s 0.4s ease forwards;
    margin-right: -30px;
    min-width: 400px;
}
.intro .title {
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: right;
}
.intro .title .underline {
  color: #232323;
}

.description {
  position: relative;
  z-index: 1;
  margin: 1rem 0 1.5rem 0;
  font-size: 1rem;
  opacity: 0;
  animation: fadeIn 0.8s 0.6s ease forwards;
}

.slider-item {
  display: none;
}
.slider-item.active {
  display: block;
}
.slider-item.active .hide-mobile {
  display: none;
}
.slider-item.active .show-mobile {
  display: block;
  margin: 1rem 0;
}



.controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0.25rem 0;
}
.controls .previous {
  border: 1px solid #232323;
}
.controls .previous:hover i {
  transform: scale(1.5);
}
.controls .next {
  border-top: 1px solid #232323;
  border-right: 1px solid #232323;
  border-bottom: 1px solid #232323;
}
.controls .next:hover i {
  transform: scale(1.5);
}

.previous, .next {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 15%;
  font-size: 2rem;
  color: #232323;
}
.previous i, .next i {
  transition: all 0.1s ease;
}

.active .image-holder::before {
  position: absolute;
  content: '';
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: 100% 50%;
  animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  line-height: 1.9;
}
.toggle-nav i {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 0 0.5rem;
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: #fff;
  text-align: center;
}
.flex-nav ul.active {
  display: flex;
}

@media (min-width: 62rem) {
  nav ul {
    justify-content: flex-end;
  }

  #logo {
    font-size: 1.25rem;
  }

  .controls {
    padding: 1.75rem 0 1.75rem 0;
  }

  .intro {
    animation: fadeInLeft 0.8s 0.4s ease forwards;
  }
.intro .title {
    line-height: 61px;
    font-size: 46px;
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    background: #fff;
}


  .image-holder img {
    height: 55vh;
  }

  .description {
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
  }

  .previous, .next {
    flex-basis: 8.33%;
  }

  .slider-item.active .hide-mobile {
    display: block;
  }

  .slider-item.active .show-mobile {
    display: none;
  }

  .toggle-nav {
    display: none;
  }

  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    justify-content: flex-end;
  }

}
.slider-item.active {
    display: block;
}
.cta-sec .cta-title {
    font-size: 37px;
    margin: 0;
    margin-bottom: 45px;
    color: #fff;
    line-height: 57px;
}
.btn-default, button, .button, .comment-respond .comment-form input[type="submit"], .comments-area ol.comment-list .reply a, a.post-edit-link, div.wpcf7 input[type="submit"], .hb_button, .hb_single_room #reviews #review_form_wrapper form .form-submit input[type="submit"] {
    background: #ff6670;
    border: none !important;
    padding: 15px 35px;
    position: relative;
    font-size: 16px !important;
    overflow: hidden;
    transition: .5s;
    border-radius: 7px;
    display: inline-block;
    color: #fff !important;
    box-shadow: none !important;
}
.cta-sec .cta-content {
    padding: 0 77px;
    text-align: center;
}
.cta-sec .cta-content {
    padding: 0;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    z-index: 99;
    position: relative;
}
.section.cta-sec {
    padding: 140px 0;
}
.cta-sec{
  position: relative;
}
.cta-sec:before {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}
.section.cta-sec {
    background-size: cover;
    padding: 80px 0;
    background-attachment: fixed;
    background-position: center;
}


.section-title {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

span.slide__title-inner a {
    color: #000;
    z-index: 99999;
    position: relative;
    cursor: pointer;
}



.blog-wrap * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.blog-wrap img {
  max-width: 100%;
  vertical-align: top;
  position: relative; 
}



.blog-wrap .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.blog-wrap .date span {
  display: block;
  line-height: 14px;
}

.blog-wrap .date .month {
  font-size: 11px;
}

.blog-wrap h3,
.blog-wrap p {
  margin: 0;
  padding: 0;
}



.blog-wrap .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size:  50px;
    align-items: center;
    background-color: #232323;
    display: flex;
    justify-content: center;
    opacity: 0;
}

/*.blog-wrap a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}*/

.blog-wrap:hover .hover,
.blog-wrap.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}
.blog-wrap figcaption {
    margin-top: 20px;
}
.blog-wrap figcaption h3 {
    margin-bottom: 15px;
    font-size: 23px;
    line-height: 35px;
}
.blog-wrap figcaption h3 a {
    color: #000;
}

.blog-wrap:hover .date,
.blog-wrap.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.blog-section .section-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 550px;
    margin-bottom: 60px;
}
.blog-wrap {
    position: relative;
    overflow: hidden;
}
section.section.room-section {
    background: #fafafa;
}

footer#colophon {
    background: #f5f5f5;
}
.site-info {
    padding: 20px 0;
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid rgba(238, 238, 238, 0.19);
    background: #fff;
}
.site-info, .site-info a {
    color: #565656;
}
section#primary.about-sec {
    background: #fafafa;
}
.site-info p {
    margin: 0;
}



input[type=checkbox], input[type=radio] {
    width: auto !important;
    height: auto !important;
}
p.comment-form-cookies-consent input#wp-comment-cookies-consent, p.comment-form-cookies-consent label {
    display: inline-block !important;
}
p.comment-form-cookies-consent input#wp-comment-cookies-consent {
    margin-right: 10px;
}
p.comment-form-cookies-consent {
    margin-top: 20px;
}



.comments-area {
    padding: 30px;
    margin-top: 30px;
    padding-left: 0;
}
  .comments-area h2.comments-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px; }
  .comments-area ol.comment-list {
    list-style: none;
    padding: 0; }
    .comments-area ol.comment-list:last-child {
      margin-bottom: 0; }
    .comments-area ol.comment-list .comment-author b.fn {
      margin-left: 7px;
      color: #333;
      font-weight: 600; }
      .comments-area ol.comment-list .comment-author b.fn a {
        color: #333; }
    .comments-area ol.comment-list .comment-author span.says {
      display: none; }
    .comments-area ol.comment-list .comment-author img {
      width: 40px;
      display: inline-block;
      max-width: 100%;
      height: auto;
      padding: 2px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 4px;
      margin-top: 15px;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    .comments-area ol.comment-list .comment-metadata {
      margin-left: 52px;
      margin-bottom: 14px; }
      .comments-area ol.comment-list .comment-metadata time {
        font-size: 14px;
        color: #666; }
    .comments-area ol.comment-list .comment-content {
      margin-bottom: 27px;
      padding: 20px 20px;
      padding-bottom: 10px;
      background: #fafafa;
      border-radius: 4px; }
    .comments-area ol.comment-list .reply {
      text-align: right;
      margin-top: 16px; }
      .comments-area ol.comment-list .reply a {
        box-shadow: none;
        padding: 3px 21px; }
    .comments-area ol.comment-list ol.children {
      padding: 0;
      list-style: none;
      margin-left: 56px; }
  .comments-area .comment-subscription-form input[type="checkbox"] {
    height: auto !important; }

.comments-area ol.comment-list .comment-metadata .edit-link {
  display: none; }

.pingback .comment-body {
  margin-bottom: 27px;
  padding: 20px 20px; }

.pingback {
  margin: 20px 0; }

.pingback .comment-body a {
  color: #666; }
  .pingback .comment-body a:hover, .pingback .comment-body a:focus {
    color: #000; }

.pingback .comment-body a.comment-edit-link {
  color: #000; }

.nav-links {
  width: 100%;
  display: table; }
  .nav-links .nav-previous {
    width: 50%;
    display: inline-block; }
  .nav-links .nav-next {
    width: 50%;
    display: inline-block;
    text-align: right; }

.nav-links .nav-previous, .nav-links .nav-next {
  vertical-align: middle;
  float: none; }

.nav-links a, .nav-links span {
    padding: 6px 6px;
    margin-right: 5px;
    display: inline-block;
    font-size: 16px;
    color: #62646c;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
span.nav-subtitle {
    color: #000;
    font-family: "Lora";
    font-weight: 400;
}
  .nav-links a:hover, .nav-links span:hover {
    color: #000; }

.nav-links a {
    background: #f7f7f7;
}



.not-found .page-header {
  margin-top: 0; }
  .not-found .page-header h1 {
    margin-top: 0; }

.not-found .search-form {
  margin-top: 20px; }
  .not-found .search-form .search-submit {
    width: 29%; }



.error-404 header.page-header h2 {
  font-size: 74px; }

header.entry-header h2.entry-title {
    font-size: 30px;
    margin-top: 0;
}
  header.entry-header h2.entry-title a {
    color: #272e37;
    text-decoration:  none; }
    a{
          text-decoration: none !important;
    }
    header.entry-header h2.entry-title a:hover {
      color: #000; }

header.entry-header h1.entry-title {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 50px;
}
  header.entry-header h1.entry-title a {
    color: #272e37; }
    header.entry-header h1.entry-title a:hover {
      color: #000; }

.page-header {
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 20px !important;
  border-bottom: none; }
.page-header h1 {
    margin-top: 0;
    font-size: 37px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

article .entry-content img {
  margin-bottom: 15px; }

div#calendar_wrap table {
  background-color: transparent;
  width: 100%; }

#wp-calendar caption {
  background-color: #000;
  color: #ffffff;
  padding: 10px; }

#wp-calendar thead tr th {
  text-align: center; }

table th {
  border: 1px solid #dddddd;
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: top; }

table td {
  border: 1px solid #dddddd;
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: top; }

table td {
  border: 1px solid #dddddd;
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: top; }

#wp-calendar tbody tr td {
  text-align: center; }

#wp-calendar tr th {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 0;
  border-bottom: 0; }

#wp-calendar tr th:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

#wp-calendar tr td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 0;
  border-bottom: 0; }

#wp-calendar tr td a {
  font-weight: bold; }

#wp-calendar tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

#wp-calendar tfoot tr td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

#secondary #wp-calendar tr td {
  border: 1px solid #eee; }

#secondary #wp-calendar tr th {
  border: 1px solid #eee; }

.page-content, .entry-content, .entry-summary {
  margin: 1em 0 0; }

article iframe {
  width: 100%; }

span.edit-link {
  display: block; }

a.post-edit-link {
  background: #000;
  font-weight: normal;
  text-transform: capitalize;
  padding: 6px 21px;
  overflow: hidden !important;
  display: inline-block; }

nav#comment-nav-below {
  margin: 25px 0;
  display: block; }

nav#comment-nav-above {
  margin: 25px 0 40px 0; }

.post-password-form {
  width: 100%; }
  .post-password-form input[type="password"] {
    width: 100%;
    border: 2px solid #eee;
    padding: 7px 23px;
    outline: 0;
    -webkit-appearance: none;
    font-weight: 400;
    background: #fff;
    height: auto;
    border-radius: 4px;
    margin-top: 15px; }
    .post-password-form input[type="password"]:focus {
      border: 2px solid #000 !important; }
  .post-password-form input[type="submit"] {
    box-shadow: none !important;
    font-size: 15px;
    border-radius: 0;
    background: #000;
    transition: all .5s ease-in-out 0s;
    border: none;
    color: #fff;
    padding: 13px 17px;
    margin-left: -6px;
    border: none;
    line-height: 17px;
    width: 17%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

/* category */
.widget ul.categories-wrap {
  padding: 0;
  margin: 0;
  list-style: none; }

.widget .categories-wrap li {
  padding: 17px 0 0 0; }

.widget .categories-wrap .cat-item span.cat-name a {
  color: #62646c;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize; }

.widget .categories-wrap span.cat-count {
  position: relative;
  margin-right: 10px;
  float: right; }

.widget .categories-wrap .cat-count a {
  color: #62646c;
  font-size: 16px;
  text-decoration: none; }

/* tags */
.tagcloud {
  position: relative;
  padding: 20px 0 0 0; }

.tagcloud a {
  border: 1px solid #f4f4f4;
  color: #fff;
  font-size: 14px !important;
  font-weight: 400;
  padding: 4px 12px 4px;
  border-radius: 5px;
  transition: all 500ms ease 0s;
  display: inline-block;
  margin: 0 3px 10px; }
  .tagcloud a:hover, .tagcloud a:focus {
    background: #000;
    color: #fff !important; }

#secondary .widget {
  margin-bottom: 20px;
  background: #fff;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0 0 30px;
  word-wrap: break-word;}
#secondary .widget .widget-title {
    font-size: 30px;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: #000;
}
  #secondary .widget ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    #secondary .widget ul li {
      padding-bottom: 8px;
      position: relative;
      margin-bottom: 7px; }
      #secondary .widget ul li a {
        color: #62646c;
        text-decoration: none; }
        #secondary .widget ul li a:hover {
          color: #000; }

.search-form {
  width: 100%; }
  .search-form .search-field {
    width: 100%;
    border: 1px solid #eee !important;
    padding: 9px 23px !important;
    outline: 0;
    -webkit-appearance: none;
    font-weight: 400;
    background: #fff;
    height: auto;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 50px; }
    .search-form .search-field:focus {
      border-color: #ff6670 !important; }
.search-form .search-submit {
    position: absolute;
    right: 1px;
    top: 0;
    box-shadow: none !important;
    font-size: 16px;
    border-radius: 0 !important;
    background: #ff6670;
    border: none;
    color: #fff;
    height: 50px;
    display: inline-block;
    padding: 15px 13px;
    margin-left: 0;
    border: none;
    line-height: 21px;
    width: 30%;
}
  .search-form label {
    width: 71%;
    margin-bottom: 0; }

.search-form {
  position: relative; }

article.hentry {
  margin-bottom: 30px; }
article.hentry .post-bg {
    padding: 30px 0;
    padding-top: 0;
    margin-top: 30px;
}
article header.entry-header h2.entry-title {
    margin-top: 20px;
}
span.edit-link a {
  box-shadow: none;
  padding: 3px 21px;
  margin-top: 20px;
  border-radius: 4px;
  color: #fff; }

span.cat-links, span.tags-links {
  display: block;
  margin-bottom: 5px; }

article .post-bg .entry-footer {
  margin-top: 20px; }

span.comments-link {
  border: 1px solid #ddd;
  font-size: 13px;
  padding: 3px 10px;
  border-radius: 5px; }
  span.comments-link a {
    color: #000; }

select {
  width: 100%; }

.comment-respond .comment-form textarea {
    height: 200px;
    padding: 10px;
    background: none;
    border: none;
    border: 1px solid #eee;
    outline: 0 !important;
    transition: all 0.5s ease-out 0s;
    width: 100%;
    border-radius: 4px;
}
.comment-respond .comment-form input {
    background: none;
    border: none;
    outline: 0;
    font-size: 16px;
    padding: 0;
    border: 1px solid #eee;
    box-shadow: none;
    -webkit-transition: all 0.3s;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    transition: all 0.5s ease-out 0s;
}
.comment-respond .comment-form input[type="submit"] {
    font-weight: normal;
    text-transform: capitalize;
    width: auto;
    color: #fff;
    margin-top: 20px;
    height: auto;
}
  header.entry-header {
    margin-bottom: 40px;
}

header#masthead {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
}
a.post-edit-link {
    display: none;
}
.archive article.hentry {
    margin-bottom: 49px;
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
}

#menu-primary .dropdown-menu {
    display: none !important;
    position: relative;
    box-shadow: none;
    border: none;
    float: none;
    min-width: 0;
    padding-left: 40px;
}
#menu-primary li a {
    background: none !important;
}
#menu-primary li.menu-item-has-children .dropdown-menu li.menu-item-has-children>.dropdown-sub {
    display: none !important;
    left: 0;
}
#menu-primary li.menu-item-has-children:hover .dropdown-menu, #menu-primary li.menu-item-has-children:focus .dropdown-menu, #menu-primary li.menu-item-has-children:focus-within .dropdown-menu {
    display: block !important;
}

#menu-primary li.menu-item-has-children .dropdown-menu li.menu-item-has-children:hover .dropdown-sub,#menu-primary li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus .dropdown-sub,#menu-primary li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus-within .dropdown-sub{
    display: block !important;
}
#menu-primary-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    border-radius: 0;
    min-width: 220px;
    box-shadow: -3px 4px 7px -4px rgba(0,0,0,.12);
    border: 1px solid #f0f0f0;
}
#menu-primary-nav>li>.dropdown-menu li {
    padding: 10px 14px;
    border-bottom: 1px solid #eee;
    display: block !important;
}
ul.dropdown-menu.dropdown-sub {
    padding: 0;
    border-radius: 0;
    margin: 0;
    right: auto;
    left: 100%;
    top: 0;
    margin-left: 0px;
}
.not-found .widget {
    margin-top: 35px;
}
a.btn.btn-default:hover {
    background: #000;
}
a.custom-logo-link img {
    height: 50px;
    width: auto;
}
.custom-slideshow .custom-slide {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
      margin-top: 150px;
      text-align: left;
      position: relative;
}


.custom-slideshow .custom-slide.slick-center {
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0 !important;
}




.slide__title-wrap {
    position: absolute;
    top: 37%;
    left: -11%;
    text-align: left;
    max-width: 350px;
    display: none;
}
.custom-slideshow .custom-slide{
  outline: 0 !important;
}
.custom-slideshow .custom-slide.slick-center .slide__title-wrap {
  display: block;
}
button#btn-search:focus, button#btn-search:focus-within {
    border: 1px solid #eee !important;
}
button#btn-search-close:focus,button#btn-search-close:focus-within{
  border: 1px solid #000 !important;
}
.hero-section a.btn.btn-default {
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}
.intro .title a {
    color: #000;
}
.controls button.previous:focus,.controls button.previous:focus-within{
  background: #000;

}
.controls button.previous:focus i,.controls button.previous:focus-within i{
 color: #fff;

}

.controls button.next:focus,.controls button.next:focus-within{
  background: #000;

}
.controls button.next:focus i,.controls button.next:focus-within i{
 color: #fff;

}

.slide__title-wrap h3.slide-title {
    font-size: 49px;
    line-height: 57px;
}
.btn-default.focus, .btn-default:focus {
    color: #fff;
    background-color: #000;
    border-color: #000;
}


.navbar-nav .dropdown-menu{
  opacity:  0;
  display: block;
}
/*ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children>.dropdown-sub{

  opacity:  0;
}
ul#menu-main li.menu-item-has-children:hover .dropdown-menu, ul#menu-main li.menu-item-has-children:focus .dropdown-menu, ul#menu-main li.menu-item-has-children:focus-within .dropdown-menu {
    opacity:  1;
    display: block !important;
}

ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:hover .dropdown-sub,ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus .dropdown-sub,ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus-within .dropdown-sub{
  opacity:  1;
  display: block;
}*/
ul#menu-main li .dropdown-menu a {
    color: #565656;
}
.navbar-nav>li>.dropdown-menu,ul.dropdown-menu.dropdown-sub {
    -webkit-box-shadow: rgba(54,57,73,.08) 0 8px 16px 0;
    box-shadow: 0 8px 16px 0 rgba(54,57,73,.08);
    border: none;
    z-index: 99999; 
    padding: 0 !important;
    min-width: 220px;
    border-radius: 0 !important; 
}
.navbar-nav>li>.dropdown-menu li a {
    padding: 13px 33px !important;
}
ul#menu-main .navbar-nav>li>.dropdown-menu li a:focus,.navbar-nav>li>.dropdown-menu li a:focus-within {
    background: #ff6670 !important;
    border: none !important;
}


ul#menu-main li.menu-item-has-children .dropdown-menu{
    position: absolute;
    opacity: 0;
    left: -9999px;
    z-index: 99999;
    display: block !important;
}

ul#menu-main li.menu-item-has-children:hover .dropdown-menu,ul#menu-main li.menu-item-has-children:focus .dropdown-menu,ul#menu-main li.menu-item-has-children:focus-within .dropdown-menu{
    display: block;
    left: 0;
    margin-top: 0;
    opacity: 1;
}

ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children>.dropdown-sub{
    position: absolute;
    opacity: 0;
    left: -9999px;
    z-index: 99999;
    display: block !important;
}


ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:hover .dropdown-sub,
ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus .dropdown-sub,
ul#menu-main li.menu-item-has-children .dropdown-menu li.menu-item-has-children:focus-within .dropdown-sub{
    display: block;
    left: 220px;
    margin-top: 0;
    opacity: 1;
}


.nav>li>a:focus, .nav>li>a:hover{
  background: none;
}
.navbar-nav li.menu-item-has-children>a:after {
    content: "\f0dd";
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 10px;
    top: -3px;
    position: relative;
}
ul#menu-main li .dropdown-menu a.dropdown-item:after {
    right: 15px;
    position: absolute;
    top: 14px;
}

.hero-section .hp-form__field input.hp-field {
    padding: 14px 26px;
    border: none;
    background-color: #fff;
    outline: 0 !important;

}

.banner-search-form {
    background: rgb(255 255 255 / 30%);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    border-radius: 4px;

    margin: 0 auto;
}
.banner-search-form .hp-form--listing-search {
    margin-bottom: 19px;
}
div#navbar-collapse, .search-wrap {
    margin-top: 4px;
}

.home.page-template-template-home header#masthead ul#menu-main li .dropdown-menu a {
    color: #000;
}
nav#site-navigation #menuid ul li {
    padding: 9px 10px;
    display: inline-block;
}
nav#site-navigation ul li a {
    color: #000;
}
.listing-category-wrap {
    padding: 70px 0;
    padding-bottom: 0;
}
article.hp-listing-category.hp-listing-category--view-block {
    border-radius: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.hp-listing-categories.hp-grid.hp-block .hp-listing-category__description {
    display: none;
}
.hp-listing-categories.hp-grid.hp-block .hp-listing-category__content {
    padding: 20px 20px;
}
.hp-listing-categories.hp-grid.hp-block .hp-listing-category__image img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.hp-listing-categories .hp-col-sm-12{
  display: block !important;
}
.hp-listing-categories .hp-col-sm-12 {
    display: block !important;
    flex: 0 !important;
    margin: 0 !important;
    margin-top: 10px;
    margin-bottom: 40px !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
    padding: 0 !important;
}
.hp-listing--view-block {

  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #fff;
  transition: box-shadow 0.25s;
}

.hp-listing--view-block.hp-listing--featured {
  border-color: #ffc107;
}
.hp-listing--view-block .hp-listing__featured-badge {
  left: 0;
  top: 1.5rem;
  border-radius: 0 3px 3px 0;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffc107;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
}
.hp-listing--view-block .hp-listing__featured-badge i {
  font-size: 12px;
}
.hp-listing--view-block .hp-listing__content:not(:last-child),
.hp-listing--view-block .hp-listing__footer:not(:last-child),
.hp-listing--view-block .hp-listing__header:not(:last-child) {
  margin-bottom: 0;
}
.hp-listing--view-block .hp-listing__content {
  padding: 1.5rem;
}
.hp-listing--view-block .hp-listing__footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.hp-listing--view-block .hp-listing__image img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.hp-listing__images-slider {
  border-radius: 3px;
}
.hp-listing__images-carousel .slick-slide img {
  border: 2px solid transparent;
  border-radius: 4px;
  opacity: 0.6;
  transition: border-color 0.25s, opacity 0.25s;
}
.hp-listing__images-carousel .slick-current img {
  border-color: #ffc107;
  opacity: 1;
}
.hp-listing__images > img {
  border-radius: 3px;
}
.hp-listing--view-block .hp-listing__created-date{
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 0.6875rem;
}
.hp-listing__details .hp-listing__categories {
  display: none!important;
}
.hp-listing--view-block .hp-listing__categories:not(:last-child),
.hp-listing--view-page .hp-listing__categories:not(:last-child) {
  margin-bottom: 0;
}
.hp-listing--view-block .hp-listing__categories a{
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 0.6875rem;
  background-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.25s, background-color 0.25s;
  border-radius: 9999px;
  padding: 0.5rem 0.75rem;
}
.hp-listings.hp-block .hp-listing--view-block {
    margin: 0 7px;
}
.hp-listings.hp-block h4.hp-listing-category__name a {
    color: #ff6670;
}
.hp-listings.hp-block h4.hp-listing__title a {
    font-size: 23px;
}
.hp-listings.hp-block .hp-listing--view-block .hp-listing__content {
    padding: 27px;
    padding-bottom: 22px;
}
.hp-listings .hp-listing__details.hp-listing__details--primary {
    padding-top: 5px;
}
.hp-listings.hp-block .hp-listing__location a {
    font-size: 16px;
    color: #565656;
}
.hp-listings.hp-block .hp-listing--view-block .hp-listing__created-date{
  display: none;
}
.hp-listings.hp-block .hp-listing__rating.hp-rating {
    margin-top: 10px;
    margin-bottom: 10px;
}
.hp-listings.hp-block .hp-listing__attributes--secondary .hp-listing__attribute {
    font-size: 13px;
    padding-top: 6px;
}
.hp-listings.hp-block .hp-listing__attributes.hp-listing__attributes--secondary {
    padding-top: 5px;
}
.hp-grid__item {
    margin-bottom: 4rem;
}
.hp-listings.hp-block .hp-listing--view-block {
    margin: 0 7px;
    border-radius: 10px;
}
.listing-item-wrap {
    padding: 70px 0;
}
.archive .hp-form.hp-form--listing-search,.archive .hp-form--vendor-search {
    max-width: 600px;
}
.archive .hp-form.hp-form--listing-search input.hp-field.hp-field--search,.archive .hp-form--vendor-search input.hp-field.hp-field--search {
    padding: 14px 20px;

}
article.hp-vendor.hp-vendor--view-block {
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.06);
    background-color: #fff;
    transition: box-shadow .25s;
    padding: 50px;
}
.hp-vendor--view-block .hp-vendor__footer {

    justify-content: center;

    margin-top: 50px;
}
.hp-listing--view-page .hp-listing__actions--primary a.hp-listing__action {
    padding: 5px 0;
}
.hp-listing--view-page .hp-listing__attributes--primary {
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.06);
    background-color: #fff;
    padding: 1rem 1.5rem;
}
.hp-listing--view-page .hp-listing__attributes--primary .hp-listing__attribute {
    background: none;
    padding: 0;
}
.single .hp-page__content .hp-listing__attributes.hp-listing__attributes--secondary {
    margin-top: 40px;
}
.single .hp-page__content .hp-listing__attributes--secondary .hp-listing__attribute {
    padding: 7px 0;
}
.single article.hp-vendor.hp-vendor--view-block{
  margin-top: 30px;
}
.fancybox-inner .hp-modal {
    display: none;
    width: 42.33rem;
}
div#reviews .hp-grid__item {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);
    padding: 25px 34px;
    border-radius: 20px;
    margin-bottom: 35px;
}
div#reviews .hp-row {
    padding-right: 40px;
}
h2.hp-section__title {
    margin-bottom: 30px;
}
div#reviews {
    margin-top: 50px;
}
.single-hp_listing aside.hp-page__sidebar {
    padding-left: 30px;
}
.hp-page__topbar--separate .hp-menu--tabbed{
  display: none;
}
.hp-page__topbar--separate{
  border-bottom: none;
}
.single-hp_listing .hp-listing__location {
    margin-bottom: 10px;
}
.single-hp_listing .hp-listing__date{
  margin-bottom: 10px;
}

.slick-next, .slick-prev {

    font-size: 0 !important;
    cursor: pointer;
    color:#36476c;
    position: absolute;
    top: 40%;
    border-radius: 4px;
    margin-top: -10px\9;
    border: none;
    outline: 0;
    z-index: 9;
    transition: all 0.5s ease-out 0s;
    line-height: 47px;
    padding: 0 !important;
    background: none !important;
}
.slick-next{
  right: -70px;
}
.slick-prev{
  left: -70px;
}
.slick-prev:before{
    content: "\f104" !important;
    font-family: FontAwesome;

    font-size: 42px;
    color: #36476c;
}
.slick-next:before{
content: "\f105" !important;
    font-family: FontAwesome;

    font-size: 42px;
    color: #36476c;
}
.hp-listing-categories .slick-next, .hp-listing-categories .slick-prev {
    opacity: 0;
}
.hp-listing-categories:hover .slick-next, .hp-listing-categories:hover .slick-prev {
    opacity: 1;
}
.hp-listings.hp-block h4.hp-listing__title a {
    font-size: 23px;
    color: #ff6670;
}
h4.hp-listing-category__name a{
  color: #ff6670;
}
.hero-section .hp-form__field input.hp-field:focus{
border: 1px solid #ff6670;
}
.hp-listing-category__image a:focus img,.hp-listing__image a:focus img{
  border: 1px solid #ff6670;
}

.hp-listing--view-block .hp-listing__attributes--primary .hp-listing__attribute {
    font-size: 100%;
    min-width: 0;
}
.hp-listing--view-block .hp-listing__footer {
    padding: 1.3rem 1.5rem;
}
.hp-listing--view-page .hp-listing__attributes--primary {
    padding: 2rem 1.5rem;
}
ul#menu-main li.ft-menu-action a {
    background: #ff6670 !important;
    border: none !important;
    padding: 11px 18px;
    border-radius: 4px;
    color: #fff !important;
}
li.ft-menu-action {
    padding-left: 25px;
}
.hp-page.site-main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 70px;
  padding-bottom: 70px;  }
  .hp-page.site-main:before, .hp-page.site-main:after {
    content: " ";
    display: table; }
  .hp-page.site-main:after {
    clear: both; }
  @media (min-width: 768px) {
    .hp-page.site-main {
      width: 750px; } }
  @media (min-width: 992px) {
    .hp-page.site-main {
      width: 970px; } }
  @media (min-width: 1200px) {
    .hp-page.site-main {
      width: 1170px; } }

@media only screen and (min-width: 48em) {
    .hp-listings .hp-col-sm-12{
        box-sizing: border-box;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .hp-listings .hp-col-sm-12 {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        max-width: 25%;
    }
  }
  .single-hp_listing footer.hp-page__footer {
    display: none;
}
.single article.hp-vendor.hp-vendor--view-block {
    display: none;
}
/*.custom-slideshow .custom-slide.slick-center {
    margin-left: 100px;
    margin-right: 100px;
}*/

.wp-block-search__button {
	background: #ff6670;
}
.hp-page {
	max-width: none !important;
}
span.select2.select2-container {
	padding: 10px 26px;
	border: none;
	background-color: #fff;
	outline: 0 !important;
	border-radius: 6px;
}
.select2-container--default .select2-selection--single {
	border: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 10px;
	right: 5px;
}
.archive span.select2.select2-container {
	border: 1px solid #ccc;
}
.archive .hp-form__field--location .hp-field--location input[type=text] {
	padding: 14px 20px;
}

.breadcrumbs {padding:20px 0;}  
/* back to top */
#back-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 1000;
  background: #c7ac6f;
  height: 40px;
  width: 40px;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 3px #fff;
  display: none;
  }
  #back-to-top:hover{
	background-color: #a98c55;
  }
  #back-to-top i{
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  }
  /* back to top end */
  
  @media screen and (max-width: 600px){
  #back-to-top {
    bottom: 50px;
    height: 30px;
    width: 30px;
  }
  }
  .page-template-template-home .breadcrumbs,
  .home .breadcrumbs {display:none;}
  
  /** Responsive Media **/