li#accordion-section-classified_listings_go_pro {
	display: block !important;
}
#accordion-section-classified_listings_go_pro h3.accordion-section-title{
    background: #2979a3 !important;
    color: #fff !important;
    font-size: 13px;
    padding: 15px 15px 15px 10px;
}
a.button.button-secondary.alignright {
    color: #fff !important;
    background: #000 !important;
    font-size: 14px;
    margin: -5px !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: 2px 2px 0px 0px #fff !important;
    font-size: 14px;
}

#accordion-section-classified_listings_go_pro .accordion-section-title:after{
  display: none;
}
.customize-pane-parent{
  overflow-x: hidden !important;
}
.accordion-section-title button.accordion-trigger{
  height: auto !important;
}