/* Responsive CSS */
@media screen and (max-width:767px) {
	*{box-sizing:border-box;}
	.wp-block-navigation__responsive-container.is-menu-open.has-modal-open{ padding:25px;}
	.top-area {
	    position: static;
	    background: #9449f3;
	    text-align: center;
	}
	.top-area .wp-block-navigation,
	.top-area .wp-block-search__inside-wrapper{
		justify-content: center;
	}
	.top-area .wp-block-search{
		margin: 0;
        float: none;
	}
	.top-area .wp-element-button,
	.top-area .wp-block-columns{
		padding: 0;
	}
}

@media screen and (max-width:1169px) and (min-width:981px) { 
	html{overflow-x:hidden; }
}

@media screen and (max-width: 980px){
	.fse-overlap-image{ position:relative !important; right:auto !important; bottom:auto !important; margin:25px 0 !important;}
	.wp-block-section-01 h2, .wp-block-section-02 h2{ font-size:28px !important; }
	.wpcf7 input[type="text"], 
	.wpcf7 input[type="tel"], 
	.wpcf7 input[type="email"], 
	.wpcf7 textarea{ 
		width:100%;
	}
	.top-area {
	    text-align: center;
	}
	.top-area .wp-block-navigation,
	.top-area .wp-block-search__inside-wrapper{
		justify-content: center;
	}
	.top-area .wp-block-search{
		margin: 0;
        float: none;
	}
	.top-area .wp-element-button{
		padding: 0;
	}
	.blog-area .wp-block-post-template{
		grid-template-columns: auto auto;
	}
}