a {
  transition: var(--wp--custom--transition, inherit);
  cursor: pointer;
  //text-decoration-thickness: var(--wp--custom--elements--link--text-decoration-thickness, 1px);
  text-underline-offset: var(--wp--custom--elements--link--text-underline-offset, 0.35em);
  //text-decoration-style: var(--wp--custom--elements--link--static--text-decoration-style, solid);

  &:hover, &:focus {
    text-underline-offset: var(--wp--custom--elements--link--hover--text-underline-offset, 0.35em);
    //text-decoration-style: var(--wp--custom--elements--link--interactive--text-decoration-style, dashed);
  }
}

[class*=has-text-decoration] a,
[style*="text-decoration:"] a {
  text-decoration: inherit;
}
