<!-- wp:group {"tagName":"main","metadata":{"name":"Site Wrap"},"ploverBlockID":"59eab90a-54ea-4b9e-9781-56ba27db5d9f","style":{"spacing":{"blockGap":"0"}},"backgroundColor":"neutral-0","textColor":"neutral-800","layout":{"type":"default"}} -->
<main class="wp-block-group has-neutral-800-color has-neutral-0-background-color has-text-color has-background">

    <!-- wp:pattern {"slug":"swift-fse/header-light"} /-->
    <!-- wp:pattern {"slug":"swift-fse/hero"} /-->
    <!-- wp:pattern {"slug":"swift-fse/features-3-col"} /-->

    <!-- wp:group {"ploverBlockID":"bceaacc2-796f-45fa-82bd-e48b88349bfe","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignfull"
        style="padding-top:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large)">
        <!-- wp:group {"metadata":{"name":"Heading"},"ploverBlockID":"03e9c1e8-d402-43d8-a9a3-bac320861d77","layout":{"type":"constrained"}} -->
        <div class="wp-block-group">
            <!-- wp:heading {"textAlign":"center","ploverBlockID":"db6f667e-7f1d-4de7-a449-93a27e10a66d"} -->
            <h2 class="wp-block-heading has-text-align-center">Build, Customize, and Launch with Swift</h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"align":"center","ploverBlockID":"deb5c054-73b3-4823-98d4-e3560f9a79db"} -->
            <p class="has-text-align-center">Unlock your potential with our easy-to-use block extensions.</p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:group -->

        <!-- wp:pattern {"slug":"swift-fse/right-media-and-text"} /-->
        <!-- wp:pattern {"slug":"swift-fse/left-media-and-text"} /-->
        <!-- wp:pattern {"slug":"swift-fse/right-media-and-text-02"} /-->

    </div>
    <!-- /wp:group -->

    <!-- wp:pattern {"slug":"swift-fse/testimonials-3-col"} /-->
    <!-- wp:pattern {"slug":"swift-fse/pricing-plan"} /-->
    <!-- wp:pattern {"slug":"swift-fse/single-testimonial"} /-->
    <!-- wp:pattern {"slug":"plover/faq"} /-->
    <!-- wp:pattern {"slug":"swift-fse/latest-3-posts"} /-->
    <!-- wp:pattern {"slug":"swift-fse/call-to-action"} /-->
    <!-- wp:pattern {"slug":"swift-fse/footer-light"} /-->

</main>
<!-- /wp:group -->