<!-- wp:group {"ploverBlockID":"359e3ad9-2560-4449-818d-aea037b919e9","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group">
    <!-- wp:template-part {"slug":"header-light","area":"header","tagName":"header"} /-->
  
    <!-- wp:group {"tagName":"main","metadata":{"name":"Plover: Posts index"},"ploverBlockID":"79597dad-4228-41d1-9446-3a14b43798a8","className":"is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|medium","padding":{"top":"10rem","bottom":"10rem"}},"elements":{"link":{"color":{"text":"var:preset|color|neutral-950"}}}},"backgroundColor":"neutral-0","textColor":"neutral-950","layout":{"type":"constrained"}} -->
    <main
      class="wp-block-group is-style-default has-neutral-950-color has-neutral-0-background-color has-text-color has-background has-link-color"
      style="margin-top:0;margin-bottom:0;padding-top:10rem;padding-bottom:10rem">
      
      <!-- wp:group {"ploverBlockID":"5ef50d3e-d8ac-400f-9849-66b785da5d68","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|md","bottom":"var:preset|spacing|md"},"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"default"}} -->
      <div class="wp-block-group alignwide"
        style="padding-top:var(--wp--preset--spacing--md);padding-bottom:var(--wp--preset--spacing--md)">

        <!-- wp:pattern {"slug":"swift-fse/hidden-posts-heading"} /-->
  
        <!-- wp:tag-cloud {"taxonomy":"category","showTagCounts":true,"smallestFontSize":"16px","largestFontSize":"16px","ploverBlockID":"3d4b79d4-843e-49e1-8321-9fd7db68268e","align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"spacing":{"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}}}} /-->
      </div>
      <!-- /wp:group -->
  
      <!-- wp:pattern {"slug":"plover/posts-grid-3-col"} /-->
    </main>
    <!-- /wp:group -->
  
    <!-- wp:template-part {"slug":"footer-light","area":"footer","tagName":"footer"} /-->
  </div>
  <!-- /wp:group -->