<!-- wp:group {"ploverBlockID":"36dae9c9-7530-4aba-a7f3-3197ce8c4708","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
    <!-- wp:template-part {"slug":"header-light","tagName":"header","area":"header"} /-->

    <!-- wp:group {"ploverBlockID":"77d8b6f0-2814-4bae-b0cb-2abdd0d77211","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"
         style="padding-top:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium)">
        <!-- wp:columns {"ploverBlockID":"28504bfc-a9aa-45d7-9066-086810b8749c","align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"},"padding":{"top":"var:preset|spacing|50"},"margin":{"bottom":"var:preset|spacing|40"}}}} -->
        <div class="wp-block-columns alignwide"
             style="margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--50)">
            <!-- wp:column {"width":"70%","ploverBlockID":"32f3f0fb-2e5b-4a4d-816e-7028ec55a461"} -->
            <div class="wp-block-column" style="flex-basis:70%">
                <!-- wp:group {"tagName":"main","ploverBlockID":"b0899c02-68c4-4b76-8b03-cca8e0c71669","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"default"}} -->
                <main class="wp-block-group">
                    <!-- wp:group {"ploverBlockID":"88c2465b-31ff-48d3-8e75-e5106b890233","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:post-title {"textAlign":"center","level":1,"ploverBlockID":"fc09f857-2d1a-43f2-bc72-51a2dd458a7c"} /-->

                        <!-- wp:spacer {"height":"var:preset|spacing|30","ploverBlockID":"f9dd1988-3dc0-4d04-adf2-3a55ad4b3b80","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
                        <div style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)"
                             aria-hidden="true" class="wp-block-spacer"></div>
                        <!-- /wp:spacer -->

                        <!-- wp:post-featured-image {"ploverBlockID":"a3d0fdc5-b54d-4bd0-a36c-3e1bcbd6d1df","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:post-content {"lock":{"move":false,"remove":true},"ploverBlockID":"7337693e-ff96-4f2f-afd4-f04ea2ea06d6","layout":{"type":"constrained"}} /-->
                </main>
                <!-- /wp:group --></div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"30%","ploverBlockID":"ea186572-fa61-42e6-8faa-eea812c2de00","stickyBlock":"yes","stickyOffsetTop":32} -->
            <div class="wp-block-column" style="flex-basis:30%">
                <!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /--></div>
            <!-- /wp:column --></div>
        <!-- /wp:columns --></div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer-light","tagName":"footer","area":"footer"} /-->
</div>
<!-- /wp:group -->
