<!-- wp:group {"ploverBlockID":"5964d98f-6651-45fa-a44d-f5b8e50a4ba1","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
    <!-- wp:template-part {"slug":"header-light","area":"header","tagName":"header"} /-->

    <!-- wp:group {"ploverBlockID":"28e330bd-0d98-4a5e-bda9-02e107bb4986","tagName":"main","style":{"spacing":{"margin":{"top":"0"}}}} -->
    <main class="wp-block-group" style="margin-top:0">
        <!-- wp:post-content {"ploverBlockID":"d533aa4e-5a03-499c-aaa2-5aa668631a3d","lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer-light","area":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
