<!-- wp:group {"ploverBlockID":"1e51c0f4-25d2-4356-a254-b3b7d367a2b2","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">

    <!-- wp:template-part {"slug":"header-light","area":"header","tagName":"header"} /-->

    <!-- wp:group {"ploverBlockID":"9fda426a-9940-4f12-b6fb-ad0f11143f25","tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|2-x-large","bottom":"var:preset|spacing|2-x-large"},"blockGap":"var:preset|spacing|medium"}}} -->
    <main class="wp-block-group alignfull"
        style="padding-top:var(--wp--preset--spacing--2-x-large);padding-bottom:var(--wp--preset--spacing--2-x-large)">
        <!-- wp:group {"ploverBlockID":"8990ad0e-64ae-4239-948b-a86a9e2734a0","style":{"spacing":{"padding":{"top":"var:preset|spacing|50"},"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group"
            style="margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--50)">
            <!-- wp:group {"ploverBlockID":"e2f505ca-9b55-4ddb-bc38-01d8009c0af7","style":{"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
            <div class="wp-block-group" style="padding-top:0;padding-bottom:0">
                <!-- wp:post-title {"textAlign":"center","level":1,"ploverBlockID":"7a5ad696-0acc-4f26-9747-329c0451fdbe"} /-->

                <!-- wp:template-part {"slug":"post-meta"} /-->
            </div>
            <!-- /wp:group -->

            <!-- wp:post-featured-image {"ploverBlockID":"d127b960-675a-4108-82f4-8af20738de77","style":{"spacing":{"margin":{"bottom":"0","top":"var:preset|spacing|medium"}}}} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-content {"ploverBlockID":"994a2ca7-5c12-46fb-975c-97f3a7d33c71","lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

        <!-- wp:group {"ploverBlockID":"beb34fbe-bf14-4d7e-bf41-0f19a3263a22","layout":{"type":"constrained"}} -->
        <div class="wp-block-group">
            <!-- wp:pattern {"slug":"swift-fse/about-author"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"ploverBlockID":"46d4709a-79ca-4653-82f2-7f9616a09b19","style":{"spacing":{"margin":{"top":"var:preset|spacing|large"},"padding":{"bottom":"0"}}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--large);padding-bottom:0">
            <!-- wp:post-terms {"ploverBlockID":"b83f7974-6911-415f-9a11-dd2b4f8716ec","term":"post_tag","separator":"  ","prefix":"Tags: ","className":"is-style-pill","fontSize":"base"} /-->

            <!-- wp:group {"ploverBlockID":"1698ca20-ec98-48d4-be4b-8e7aecae557b","layout":{"type":"default"}} -->
            <div class="wp-block-group">
                <!-- wp:pattern {"slug":"plover/hidden-post-navigation"} /-->
                <!-- wp:pattern {"slug":"plover/hidden-comments"} /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer-light","area":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->