<!-- wp:group {"ploverBlockID":"5ca4ae8b-c4b8-4fc2-b162-b9b573442b37","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
    <!-- wp:template-part {"slug":"header-dark","area":"header","tagName":"header"} /-->

    <!-- wp:group {"tagName":"main","ploverBlockID":"babcd76b-41e6-489a-8ca9-6fefc1875adb","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"},"margin":{"top":"0","bottom":"0"}}}} -->
    <main class="wp-block-group"
          style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large)">

        <!-- wp:group {"ploverBlockID":"5013dc6d-bf7e-4e8a-ac26-de1da17fe69c","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group">

            <!-- wp:post-title {"ploverBlockID":"fb6bcd3b-491e-45c2-99b7-ac22934f1a1f","textAlign":"center","level":1} /-->

            <!-- wp:spacer {"ploverBlockID":"1d9bfb79-1b71-4e43-9b07-89d929c2da07","height":"var:preset|spacing|30","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
            <div aria-hidden="true" class="wp-block-spacer"
                 style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)"></div>
            <!-- /wp:spacer -->

            <!-- wp:post-featured-image {"ploverBlockID":"eff448f4-2d99-4f71-bdc9-e3af1e07c3e3","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-content {"ploverBlockID":"e77a9b88-c41b-4a99-843b-2753f12f2306","lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer-dark","area":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
