<!-- wp:group {"ploverBlockID":"4ff0556b-4666-4ff4-bd49-340d33839897","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
    <!-- wp:template-part {"slug":"header-dark","tagName":"header","area":"header"} /-->

    <!-- wp:group {"ploverBlockID":"31cd01c0-3173-4255-b7d7-927d94f7ab29","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"
         style="padding-top:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium)">
        <!-- wp:columns {"ploverBlockID":"6101a33a-0578-4357-830b-1cfdd1ab3efc","align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"},"padding":{"top":"var:preset|spacing|50"},"margin":{"bottom":"var:preset|spacing|40"}}}} -->
        <div class="wp-block-columns alignwide"
             style="margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--50)">
            <!-- wp:column {"width":"30%","ploverBlockID":"23a3202b-90e9-48eb-a458-265ae2edb787","stickyBlock":"yes","stickyOffsetTop":32} -->
            <div class="wp-block-column" style="flex-basis:30%">
                <!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /--></div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"70%","ploverBlockID":"6d71761a-fc56-48fb-899a-b8ad5b77213c"} -->
            <div class="wp-block-column" style="flex-basis:70%">
                <!-- wp:group {"tagName":"main","ploverBlockID":"10cb7247-7198-4b03-932b-23b06aa626c8","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"default"}} -->
                <main class="wp-block-group">
                    <!-- wp:group {"ploverBlockID":"8de2169b-1bfe-4afe-8951-a671fb23df24","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group">
                        <!-- wp:post-title {"textAlign":"center","level":1,"ploverBlockID":"0f46c903-a3be-4d68-a272-657ab2b9a9d0"} /-->

                        <!-- wp:spacer {"height":"var:preset|spacing|30","ploverBlockID":"0643d42b-732e-48ee-8aff-674837bb3ffe","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
                        <div style="margin-top:0;margin-bottom:0;height:var(--wp--preset--spacing--30)"
                             aria-hidden="true" class="wp-block-spacer"></div>
                        <!-- /wp:spacer -->

                        <!-- wp:post-featured-image {"ploverBlockID":"a74035b6-4af4-4645-9eb6-349b07ee2c94","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:post-content {"lock":{"move":false,"remove":true},"ploverBlockID":"f2972674-e109-4d8b-b474-2b76192c8c3d","layout":{"type":"constrained"}} /-->
                </main>
                <!-- /wp:group --></div>
            <!-- /wp:column --></div>
        <!-- /wp:columns --></div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer-dark","tagName":"footer","area":"footer"} /-->
</div>
<!-- /wp:group -->
