<!-- wp:group {"ploverBlockID":"5cfa5ce7-8624-4bbc-9d15-ddd472a4c3f2","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">

    <!-- wp:group {"tagName":"main","ploverBlockID":"3f2aae1b-c9a6-47b3-88b3-0b821d9d18c6","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
    <main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0">
        <!-- wp:post-content {"ploverBlockID":"33a6a2ae-e723-4cc2-8f51-1949c6196a05","lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
    </main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer-dark","area":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->
