<!-- wp:group {"ploverBlockID":"2701fadc-68ff-4e4c-b30e-5d97fb250707","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">

  <!-- wp:template-part {"slug":"header-dark","area":"header","tagName":"header"} /-->

  <!-- wp:group {"tagName":"main","metadata":{"name":"Plover: Search Result"},"ploverBlockID":"8e6483ff-0777-42c5-aae5-dc1bc6df1ec7","align":"full","style":{"spacing":{"padding":{"top":"10rem","bottom":"10rem"},"blockGap":"var:preset|spacing|large","margin":{"top":"0","bottom":"0"}},"dimensions":{"minHeight":""}},"layout":{"type":"constrained"}} -->
  <main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0;padding-top:10rem;padding-bottom:10rem">
    <!-- wp:query-title {"ploverBlockID":"be531fd2-006a-4a3b-8f70-12c5c7314fe4","type":"search","textAlign":"center","align":"wide","style":{"typography":{"lineHeight":"1"},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|10"}}}} /-->

    <!-- wp:pattern {"slug":"plover/hidden-search"} /-->

    <!-- wp:pattern {"slug":"plover/hidden-inherit-posts-grid-3-col"} /-->
  </main>
  <!-- /wp:group -->

  <!-- wp:template-part {"slug":"footer-dark","area":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->