<!-- wp:group {"ploverBlockID":"734856fb-1e79-4369-9431-2232302b44bc","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
    <!-- wp:template-part {"slug":"header-dark","tagName":"header","area":"header"} /-->

    <!-- wp:group {"ploverBlockID":"eb2416eb-ace3-4f3d-9d3b-3dc2b8d9dc13","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"
         style="padding-top:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium)">
        <!-- wp:columns {"ploverBlockID":"994b80e0-a3d4-4ac7-9dd6-bd02bd860616","align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|small","left":"var:preset|spacing|small"},"padding":{"top":"var:preset|spacing|50"},"margin":{"bottom":"var:preset|spacing|40"}}}} -->
        <div class="wp-block-columns alignwide"
             style="margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--50)">

            <!-- wp:column {"width":"30%","ploverBlockID":"98b8a475-8d6d-4f30-8eb7-aa17b28609f9","stickyBlock":"yes","stickyOffsetTop":32} -->
            <div class="wp-block-column" style="flex-basis:30%">
                <!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /-->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"70%","ploverBlockID":"12063b79-e15d-4e32-b751-93b298970212"} -->
            <div class="wp-block-column" style="flex-basis:70%">

                <!-- wp:group {"tagName":"main","ploverBlockID":"1d54d4b8-449d-40e9-9407-b0415bcb942e","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|medium"}}} -->
                <main class="wp-block-group alignfull"
                      style="padding-top:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium)">
                    <!-- wp:group {"ploverBlockID":"598ce888-a224-4355-a6ad-06664180558f","style":{"spacing":{"padding":{"top":"var:preset|spacing|50"},"margin":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group"
                         style="margin-bottom:var(--wp--preset--spacing--40);padding-top:var(--wp--preset--spacing--50)">
                        <!-- wp:group {"ploverBlockID":"0bc8141d-5a36-406f-96e5-081704ac70da","style":{"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group" style="padding-top:0;padding-bottom:0">
                            <!-- wp:post-title {"level":1,"ploverBlockID":"872e10bb-19be-4b69-8e22-be24c3e39025"} /-->

                            <!-- wp:template-part {"slug":"post-meta"} /--></div>
                        <!-- /wp:group -->

                        <!-- wp:post-featured-image {"ploverBlockID":"1e5bfa39-3e0a-4789-a7ab-546560a5b730","style":{"spacing":{"margin":{"bottom":"0","top":"var:preset|spacing|medium"}}}} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:post-content {"lock":{"move":false,"remove":true},"ploverBlockID":"72e8a565-eaba-4f24-8c01-0965953fc5f1","align":"full","layout":{"type":"constrained"}} /-->

                    <!-- wp:group {"ploverBlockID":"c81cbee7-bbb7-4908-8c29-85792960329a","style":{"spacing":{"margin":{"top":"var:preset|spacing|large"},"padding":{"bottom":"0"}}},"layout":{"type":"constrained"}} -->
                    <div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--large);padding-bottom:0">
                        <!-- wp:post-terms {"term":"post_tag","separator":"  ","prefix":"Tags: ","ploverBlockID":"947dabbb-8238-43e1-9cfe-de0754573421","className":"is-style-pill","fontSize":"base"} /-->

                        <!-- wp:group {"ploverBlockID":"1d6fb7f2-1370-4492-a36f-ca5ec93bfa48","layout":{"type":"default"}} -->
                        <div class="wp-block-group">
                            <!-- wp:pattern {"slug":"plover/hidden-post-navigation"} /-->
                            <!-- wp:pattern {"slug":"plover/hidden-comments"} /-->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->
                </main>
                <!-- /wp:group -->

            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns --></div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer-dark","tagName":"footer","area":"footer"} /-->
</div>
<!-- /wp:group -->
